<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Panel Zamówień</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <h1>Panel Zamówień</h1>
  <button id="toggleAlarm">Wyłącz alarm</button>

  <h2>Aktywne zamówienia</h2>
  <div id="active"></div>

  <h2>Zakończone</h2>
  <div id="done"></div>

  <script src="{{ url_for('static',filename='script-panel.js') }}"></script>
</body>
</html>
